<% layout('../../admin/layout') -%>
    <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            $("#content").on("keyup", function(e) {
                e.preventDefault();

                var len = $("#content").val().length;
                if(len > 100) {
                    alert("SMS 문자전송수(100자이하)를 초과했습니다.");
                    $("#content").focus();
                }
            });

            // console.
            $("#submitBtn").on('click', function() {

                if($.trim($("#fromTelNo").val()) == '') {
                    alert('발송번호을 입력하여주세요.');
                    $("#fromTelNo").focus();
                    return false;
                }
                if($.trim($("#subject").val()) == '') {
                    alert('발송제목을 입력하여주세요.');
                    $("#subject").focus();
                    return false;
                }
                if($.trim($("#content").val()) == '') {
                    alert('발송내용을 입력하여주세요.');
                    $("#content").focus();
                    return false;
                }

                // 타입
                $("#type").val($("#type option:selected").val());

                // 라디오버튼
                $("#useYn").val($("input:radio[name='smsUseYn']:checked").val());

                $("#frm").attr("action","/admin/sms/save");
                $("#frm").submit();
            });
        });
    </script>
<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">SMS 관리 화면</h1>
        </div>
    </div>
    <form name="frm" id="frm" method="post" class="form-horizontal">
        <input type="hidden" id="useYn" name="useYn" value=""/>
        <div class="form-group form-group-sm form-inline">
        <table>
            <tr>
                <td>
                    <label for="">SMS 발송번호</label>
                </td>
                <td>
                    <input type="text" name="fromTelNo" id="fromTelNo" value="" class="form-control" maxlength="11" size="13"/>
                    ('-'부호 빼고 11자리번호만 입력하세요)
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">SMS 제목</label>
                </td>
                <td>
                    <input type="text" name="subject" id="subject" value="" class="form-control" maxlength="20" size="55"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">SMS 내용</label>
                </td>
                <td>
                    <textarea id="content" name="content" style="width:400px; height:300px" class="form-control"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">분류</label>
                </td>
                <td>
                    <select id="type" name="type">
                        <option value="">선택하세요</option>
                        <option value="PAY">결제안내</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">사용여부</label>
                </td>
                <td>
                    <input type="radio" name="smsUseYn" id="smsUseY" value="Y" class="form-control"/>사용
                    <input type="radio" name="smsUseYn" id="smsUseN" value="N" class="form-control" checked/>사용안함
                </td>
            </tr>
            <tr>
                <td colspan="4" align="right">
                    <input type="button" id="submitBtn" name="submitBtn" value="전송" class="form-control"/>&nbsp;
                    <input type="button" id="prevBtn" name="prevBtn" value="리스트화면" class="form-control"/>
                </td>
            </tr>
        </table>
            </div>
    </form>
</div>
